
@{
    ViewBag.Title = "YeniKulup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni kulup ekleme</h2>
<form method="post" class="form-group">
    <div>
        <label>Kulup Adı</label>
        <input type="text" class="form-control" name="KULUPAD" />
    </div>
    <div>
        <button class="btn btn-info">Ders Ekle</button>
    </div>
</form>
