
@{
    ViewBag.Title = "YeniDers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni Ders Ekleme Sayfası</h2>

<form method="post" class="form-group">
    <div>
        <label>Ders Adı</label>
        <input type="text" class="form-control" name="DERSAD"/>
    </div>
    <div>
        <button class="btn btn-info">Ders Ekle</button>
    </div>
</form>